.main-content {
    width: 70%;
    overflow-y: scroll;
  }
  
  .head-about {
      display: flex;
      align-items: center;
      width: 144px;
      justify-content: space-between;
      margin: 46px 24px 43px 96px;
      font-size: 13px;
  }
  
  .description-about {
    line-height: 19px;
  }

  .work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 99%;
    flex-basis: 61%;
    min-width: 0;
    flex-grow: 0;
    margin-left: 30px;
    overflow-y: scroll;
    padding-right: 40px;
    margin: 0px 0px 0px 80px;
    flex-shrink: 2;
  }
  
  .work * {
    width: 100%;
  }
  
  #footer {
    font-size: 12px;
    color: #ccc;
    padding: 0px 10px 0px 0px;
  }

  .description  * {
    margin: 2px 0px 3px 0px;
  }

  .description > h6 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
}

.cv-text {
    margin-top: 94px;
}

.instagram-link {
    margin-top: 80px;
}


@media screen and (max-width: 600px) {
    .work {
        display: flex;
        /* flex-direction: column; */
        /* justify-content: center; */
        flex-wrap: wrap;
        /* max-width: 72%; */
        flex-basis: 56%;
        min-width: 0;
        flex-grow: 0;
        /* margin-left: 30px; */
        overflow-y: scroll;
        /* padding-right: 40px; */
        margin: 0px 0px 8px 45px;
        flex-shrink: 0;
    }

    .head-about {
        display: none;
    }

    .main-content {
        width: 100%;
        overflow-y: scroll;
    }

    .cv-text {
        margin-left: 53px;
        margin-top: 43px;
        width: 66%;
        font-size: 16px;
    }
}
