.main-content {
    width: 70%;
    overflow-y: scroll;
  }
  
  .head-about {
      display: flex;
      align-items: center;
      width: 144px;
      justify-content: space-between;
      margin: 46px 24px 43px 96px;
      font-size: 13px;
  }
  
  .description-about {
    line-height: 19px;
  }
  
  .work * {
    width: 100%;
  }
  
  #footer {
    font-size: 12px;
    color: #ccc;
    padding: 0px 10px 0px 0px;
  }

  .description  * {
    margin: 2px 0px 3px 0px;
  }

  .description > h6 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
}
