.sidebar {
  display: flex;
  margin-left: 50px;
  height: 80vh;
  flex-basis: 635px;
  margin-top: 100px;
  flex-direction: column;
  flex-shrink: 3;
  flex-grow: 4;
  min-width: 0;
}

.index {
  min-width: 200px;
}

.page-nav-item > a {
  text-decoration: none;
  color: black;
}

.page-nav-item > a:hover {
  color: #ccc;
}

.page-nav {
  list-style-type: none;
  padding: 0px;
}

.name-icon {
  margin-bottom: 98px;
}

@media (max-width: 600px) {
  .sidebar {
      flex-direction: row;
      flex-basis: 200px;
      flex-grow: 0;
  }

  .index {
    margin-left: 30px;
    margin-top: -17px;

  }
}