body {
  margin: 0;
  font-family: 'Work Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  display: flex;
  height: 99vh;
}

@media screen and (max-width: 600px){
  .page {
    flex-direction: column;
    padding-bottom: 50px;
  }
}